.row
	.container-fluid.content.news
		h3.news-title.text-center
			|Новости СП ДЮСШ
		.hyphenation
			|[+dl.wrap+]
.row
	.container-fluid
		p.text-center
			a.btn(href="[(site_url)][~2~]")
				|Все новости