
<script type="text/javascript">
	/*var Hyphenopoly = {
	   require: {
	       ru		: "ru"
	   },
	   paths	: {
	       maindir	: "assets/comon/js/Hyphenopoly/",
	       patterndir	: "assets/comon/js/Hyphenopoly/patterns/"
	   },
	   setup	: {
	       selectors	: {
	           ".hyphenation"	: {
	               "minWordLength"	: 1
	           }
	       }
	   }
	};*/
	window.HTTP_CLIENT = 0;
	yepnope('assets/templates/projectsoft/js/appjs.min.js', undefined, function() {
	   yepnope('assets/templates/projectsoft/js/main.js?d797ea521e1fbfb8aef036b1fafff53a', undefined, function() {
	       /*yepnope('assets/comon/js/Hyphenopoly/Hyphenopoly_Loader.js?d797ea521e1fbfb8aef036b1fafff53a', undefined, function() {});*/
	   })
	});
</script>[!YandexMetrika!]